@font-face {
  font-family: 'optima';
  src: url(../font/OPTIMA.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'optima';
  src: url(../font/Optima\ Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'optima';
  src: url(../font/OPTIMA_B.TTF) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'jeju';
  src: url(../font/JejuSamdasooBrand-Regular.ttf) format('truetype');
  font-weight: normal;
  font-synthesis: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  /* outline: 1px solid red; */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
body{
  font-family: 'optima', 'jeju';
  overflow-x: hidden;
}

button{
border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
.container{
  width: 1200px;
  margin: auto;
}
main {
  width: 100%;
  margin: 74px auto 0 auto;
}