/* topBanner1 */
#topBanner1{
  width: 100%;
  max-width: 1920px;
}
#topBanner1 .top{
  background: url(../img/mainpage/topBanner.png) center/cover;
  height: 426px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 43px;
}
#topBanner1 .top h2{
  font-size: 44px;
  letter-spacing: -3%;
  color: #fff;
  font-weight: normal;
  margin-top: 70px;
}
#topBanner1 .top h4{
  font-weight: normal;
  color: #fff;
  font-size: 22px;
}

#topBanner1 .top .topBtn{
  width: 203px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  display: flex;
  font-size: 18px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

/* topBanner2 */
#topBanner2 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 510px 510px;
}


/* 큰 이미지 */
.tB2-img1 {
  grid-column: 1 / 3;
}

.tB2-img2 {
  grid-column: 1 / 3;
}

/* 3번 - 1행 3열 */
.tB2-img3 {
  grid-column: 3;
  grid-row: 1;
}

/* 4번 - 1행 4열 */
.tB2-img4 {
  grid-column: 4;
  grid-row: 1;
}

/* 5번 - 2행 3열 */
.tB2-img5 {
  grid-column: 3;
  grid-row: 2;
}

/* 6번 - 2행 4열 */
.tB2-img6 {
  grid-column: 4;
  grid-row: 2;
}

/* 이미지 기본 제어 */
.tB2 {
  position: relative;
  height: 100%;
}

.tB2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.tB2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tB2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.7) 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.tB2:hover::after {
  opacity: 1;
}

.tB2-text {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 3;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: all 0.4s ease;
  text-align: center;
}

.tB2-text h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.tB2-text span {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
}
.tB2-text span img{
  width: 8px;
}

.tB2:hover .tB2-text {
  opacity: 1;
  transform: translate(-50%, 0);
}

/* ======================================= NewProduct ================================ */
#NewProduct{
  margin: auto;
  margin-top: 100px;
  width: 100%;
  max-width: 1190px;
  margin-bottom: 150px;
}
#NewProduct .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
#NewProduct .title h2{
font-size: 40px;
font-weight: bold;
}
#NewProduct .title .viewbtn{
  width: 134px;
  height: 34px;
  border: 1px solid #111;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#NewProduct .imgCard{
  display: flex;
  position: relative;
  gap: 30px;
}
#NewProduct .imgCard .card{
  position: relative;
}

#NewProduct .imgCard .card .new{
  position: absolute;
  left: 11px;
  top: 11px;
  padding: 3px 8px;
  background: #f0b95f;
  font-size: 12px;
  color: #333;
}

#NewProduct .imgCard .card .list{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#NewProduct .imgCard .card .list h4{
  font-size: 16px;
  color: #6b7280;
  font-weight: 500;
}
#NewProduct .imgCard .card .list p{
font-size: 20px;
}
#NewProduct img{
  width: 275px;
}
#NewProduct .card .img .hover{
  width: 275px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  color: #fff;
  opacity: 0;
}
#NewProduct .card .img:hover .hover{
  opacity: 1;
}


/* ====================MybodyTypeStylist=========================== */
#bodytype{
  width: 100%;
  max-width: 1190px;
  margin: auto;
}

#bodytype .title{
display: flex;
flex-direction: column;
justify-content: start;
gap: 10px;
}

#bodytype .title h1 img{
  width: 31px;
  height: 31px;
}
#bodytype .title h1{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 40px;
  font-weight: bold;
}
#bodytype span{
  display: block;
  font-size: 18px;
  color: #9ca3af;
  margin-bottom: 45px;
}
#bodytype .imgCard{
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  position: relative;
}

#bodytype .imgCard .card .list > p{
  font-size: 14px;
  color: #687280;
  font-weight: 200;
  margin: 7px 0 13px;
}
#bodytype .imgCard .card{
  position: relative;
  height: 100%;
}
#bodytype .imgCard .card h4{
font-size: 18px;
font-weight: 300;
}
  #bodytype .imgCard .card img{
    width: 252px;
  }
  
  #bodytype > .testbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  
  #bodytype > .testbtn > a{
  display: flex;
  align-items: center;
  background-color: #111;
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  padding: 11px 18px 11px 25px;
  gap: 10px;
  }
  #bodytype > .testbtn > a img{
    width: 29px;
  }
  #bodytype > .testbtn > p{
    font-size: 16px;
    color: #6b7280;
    margin: auto;
  }



  #bodytype .imgCard > .card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(17,17,17,0.1) 0%,
    rgba(17,17,17,0.4) 50%,
    rgba(17,17,17,0.9) 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

#bodytype .imgCard .hover{
  position: absolute;
  top: 55%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}
#bodytype .imgCard .hover > p,
#bodytype .imgCard .hover > h4,
#bodytype .imgCard .hover > ul li{
  color: #fff;
  margin-left: 15px;
  margin-bottom: 8px;
}
#bodytype .imgCard .hover ul li{
  list-style: disc;
  margin-left: 35px;
}
#bodytype .imgCard .card:hover::after,
#bodytype .imgCard .card:hover .hover
{
  opacity: 1;
}


  /* =======================AI==================================== */
  #aiBanner{
    max-width: 1920px;
    width: 100%;
    height: 500px;
    background: url(../img/mainpage/Ai\ Pick.png) center/cover;
    margin: 190px auto 80px;
    /* position: relative; */
  }
  #aiBanner .content{
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  }
  #aiBanner .aiBox{
    position: absolute;
    width: 800px;
    height: 321px;
    background: rgba(17, 17, 17, 0.4);
    border: 2px solid #fff;
    left: 0;
    bottom: 50px;
  }
  #aiBanner .content .aiBox span{
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 24px;
  }
  #aiBanner .content .aiBox p{
    color: #fff;
    font-size: 24px;
    white-space: nowrap;
    margin: 24px;
  }
  #aiBanner .content .aiBox h3{
    font-size: 53px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 5%;
    margin: 30px 24px 0;
    line-height: 49px;
  }
  #aiBanner .content .aiBox a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    color: #fff;
    margin: 24px 24px 34px;
  }
  #aiBanner .content .aiBox a img{
    width: 10px;
    height: 16px;
  }

/* =========================RecomProduct============================= */

#recommended{
  background: linear-gradient(
    #f8f5ea,
    rgba(255, 247, 237, 0.3),
    #fafaf9);
    width: 100%;
    max-width: 1920px;
    padding: 28px 0 55px;
    margin-bottom: 270px;
}
#recommended .content{
  max-width: 1190px;
  width: 100%;
  margin: auto;
}
#recommended .content .title{
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 38px;
}
#recommended .content .title h2{
  font-size: 30px;
  color: #374151;
  font-weight: bold;
}
#recommended .content .title p{
  font-size: 20px;
  font-weight: normal;
  color: #9ca3af;
}
#recommended .content .itembox{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#recommended .content .bestItem{
  width: 555px;
  height: 654px;
  background: url("../img/mainpage/AiProductCard\ \(1\).png") center / cover no-repeat;
  position: relative;
}
#recommended .content .bestItem .itemtxt{
position: absolute;
left: 20px;
bottom: 27px;
}
#recommended .content .bestItem .txtbox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#recommended .content .bestItem .txtbox h5{
  font-size: 22px;
  color: #fff;
}
#recommended .content .bestItem .txtbox p{
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
#recommended .content .bestItem .txtbox h3{
  font-size: 30px;
  color: #fff;
  font-weight: normal;
  -webkit-text-stroke:0.5px #fff;
}
#recommended .content .bestItem .txtbox h4{
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}
#recommended .content .bestItem .selectBtn{
  display: flex;
  gap: 17px;
}
#recommended .content .bestItem .selectBtn .buyBtn{
  display: flex;
  align-items: center;
}
#recommended .content .bestItem .selectBtn .buyBtn a{
  background-color: #fff;
  display: flex;
  gap: 1px;
  padding: 10px;
}
#recommended .content .bestItem .selectBtn .buyBtn a p{
  font-size: 21px;
  display: flex;
  align-items: center;
  -webkit-text-stroke:0.5px #111;
}
#recommended .content .bestItem .selectBtn .buyBtn a img{
  width: 25px;
}
#recommended .content .bestItem .selectBtn .favBtn{
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
#recommended .content .bestItem .selectBtn .favBtn button img{
  width: 25px;
}
#recommended .content .itemlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}
#recommended .content .itemlist > p{
  padding-top: 15px;
}
#recommended .content .itemlist .item{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #fff;
  border: 1px solid #d2cfce;
  width: 524px;
  height: 161px;
}
#recommended .content .itemlist .item .clickmove{
  display: flex;
  gap: 15px;
}
#recommended .content .itemlist .item .clickmove .itemtxt h6{
  font-size: 22px;
  color: #374151;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 10px;
}
#recommended .content .itemlist .item .clickmove .itemtxt p.brand{
color: #9CA3AF;
margin-bottom: 17px;
}
#recommended .content .itemlist .item .clickmove p{
  display: flex;
  font-size: 18px;
  color: #374151;
  margin-bottom: 16px;
}
#recommended .content .itemlist .item .symbol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#recommended .content .itemlist .item .symbol .icon{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #d2cfce;
  display: flex;
  align-items: center;
  justify-content: center;
}
#recommended .content .itemlist .item .symbol .icon.active{
  background: #d2cfce;
  border: none;
}


#recommended .content .itemlist .item .clickmove p img{
  width: 18px;
}

#recommended .content img{
  width: 114px;
}
#recommended .content .icon1 img{
  width: 16px;
  height: 22px;
}
#recommended .content .icon2 img{
  width: 20px;
  height: 20px;
}
#recommended .content .icon3 img{
  width: 24px;
  height: 24px;
}


/* ================================LookBook======================================== */

#lookbook{
  width:100%;
  min-width: 1190px;
  max-width: 1920px;
  overflow:hidden;
  margin-bottom: 220px;
}

#lookbook .titlebox {
  width: 1190px;
  margin: auto;
  margin-bottom:40px;
}
#lookbook .titlebox h1{
  font-size:40px;
  margin-bottom:12px;
}

#lookbook .titlebox p{
  font-size: 20px;
  color:#9CA3AF;
}

.carousel{
  width:1190px;
  height:720px;
  margin:auto;
  position:relative;
}

.slide{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:all .6s ease;
}

.slide img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.slide.active{
  width:560px;
  height:720px;
  transform:translate(-50%,-50%);
  z-index: 5;
}

.left1{
  width:470px;
  height:610px;
  transform:translate(-140%,-50%);
  filter:brightness(.6);
  z-index: 3;
}

.right1{
  width:470px;
  height:610px;
  transform:translate(40%,-50%);
  filter:brightness(.6);
  z-index: 3;
}

.left2{
  width:360px;
  height:500px;
  transform:translate(-240%,-50%);
  filter:brightness(.4);
}

.right2{
  width:360px;
  height:500px;
  transform:translate(140%,-50%);
  filter:brightness(.4);
}
